{% extends 'base.html' %}

{% block title %}Proyectos Disponibles{% endblock title %}

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
<section>
    <div class="container mt-3 mb-3">
        <div class="card rounded shadow">
            <div class="card-header h4 text-center">Proyectos disponibles</div>
            <div class="card-body">
                <table class="table table-card text-center">
                    <thead>
                        <th>Nombre</th>
                        <th>Email de comprador</th>
                        <th>Email de gestor</th>
                        <th>Capacidad kWp</th>
                        <th>Capacidad kW</th>
                        <th>Precio máximo</th>
                        <th>Documento Ejecutivo</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">{{oferta.nombre}}</td>
                            <td class="align-middle">{{oferta.comprador.user.email}}</td>
                            <td class="align-middle">{{oferta.gestor.user.email}}</td>
                            <td class="align-middle">{{ "{:,.2f}".format(oferta.kwp) }}</td>
                            <td class="align-middle">{{ "{:,.2f}".format(oferta.kw) }}</td>
                            <td class="align-middle">{{ "${:,.2f}".format(oferta.precio_max) }}</td>
                            <td class="align-middle">
                                <a href="{{oferta.dimensionamiento.create_presigned_url}}" target="_blank">
                                    <i class="flaticon-file-1"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="" id="form" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="form-group d-flex justify-content-center flex-column">
                            <label for="precioOferta" class="text-center">Precio a ofertar</label>
                            <input type="number" name="precioOferta" id="precioOferta" class="form-control">
                            <div class="invalid-feedback">
                                El precio debe de ser menor a {{ "${:,.2f}".format(oferta.precio_max) }}.
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Confirmar precio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
{% endblock content %}

{% block javascript %}
<script>
    const precioMaximo = {{ oferta.precio_max }};
    const appLogic = (() => {
        const form = document.querySelector('#form');
        const inputPrecio = document.querySelector('#precioOferta');

        const validatePrecio = () => {
            return (
                validations.isRequired(inputPrecio.value) &&
                validations.isBetween(inputPrecio.value, 0, precioMaximo)
            )
        }

        const validateForm = () => {
            validations.hideErrors();
            validations.validateError();

            let errors = []

            errors.push(!validatePrecio() ? validations.showError(inputPrecio) : true);

            if (!errors.includes(false)) form.submit();
        }

        const addListener = () => {
            form.addEventListener('submit', (e) => {
                e.preventDefault()
                console.log('submittt');
                validateForm();
            })
        }

        const _init = (() => {
            addListener();
        })()
        console.log(precioMaximo);
    })()
</script>
{% endblock javascript %}