{% extends 'static_pages/base.html' %}

{% block title %}Equipo{% endblock title %}

{% block content %}
<!-- CONTENT
============================================= -->
<section id="content-2" class="content-2 wide-60 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block left-column pc-25 mb-40 wow fadeInRight" data-wow-delay="0.4s">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/equipo/modulo.jpg') }}"
                        alt="content-image">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-md-7 col-lg-6">
                <div class="txt-block right-column pc-35 mb-40 wow fadeInLeft" data-wow-delay="0.4s">

                    <!-- Title -->
                    <h3 class="h3-sm">Módulos</h3>

                    <!-- Text List -->
                    <ul class="txt-list grey-color">

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Longi
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">First Solar
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">JA Solar
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Jinko Solar
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Trina
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Canadian Solar
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Risen Energy
                            </p>
                        </li>

                    </ul> <!-- End Text List -->

                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END CONTENT -->

<!-- CONTENT
============================================= -->
<section id="content-2" class="content-2 wide-60 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">

            <!-- TEXT BLOCK -->
            <div class="col-md-7 col-lg-6">
                <div class="txt-block left-column pc-35 mb-40 wow fadeInRight" data-wow-delay="0.4s">

                    <!-- Title -->
                    <h3 class="h3-sm">Inversores</h3>

                    <!-- Text List -->
                    <ul class="txt-list grey-color">

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">SMA
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Fimer
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Fronius
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Solis
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Growatt
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">SunGrow
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Huawei
                            </p>
                        </li>

                    </ul> <!-- End Text List -->

                </div>
            </div> <!-- END TEXT BLOCK -->


            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block right-column pc-25 mb-40 wow fadeInLeft" data-wow-delay="0.4s">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/equipo/inversor.jpg') }}"
                        alt="content-image">
                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END CONTENT -->

<!-- CONTENT
============================================= -->
<section id="content-2" class="content-2 wide-60 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block left-column pc-25 mb-40 wow fadeInRight" data-wow-delay="0.4s">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/equipo/micro_inversor.jpg') }}"
                        alt="content-image">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-md-7 col-lg-6">
                <div class="txt-block right-column pc-35 mb-40 wow fadeInLeft" data-wow-delay="0.4s">

                    <!-- Title -->
                    <h3 class="h3-sm">Microinversores</h3>

                    <!-- Text List -->
                    <ul class="txt-list grey-color">

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Enphase
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">NEP
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">AP Systems
                            </p>
                        </li>

                    </ul> <!-- End Text List -->

                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END CONTENT -->


<!-- CONTENT
============================================= -->
<section id="content-2" class="content-2 wide-60 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">

            <!-- TEXT BLOCK -->
            <div class="col-md-7 col-lg-6">
                <div class="txt-block left-column pc-35 mb-40 wow fadeInRight" data-wow-delay="0.4s">

                    <!-- Title -->
                    <h3 class="h3-sm">Estructuras</h3>

                    <!-- Text List -->
                    <ul class="txt-list grey-color">

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Everest
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Unirac
                            </p>
                        </li>

                        <li class="list-item">
                            <i class="fas fa-angle-right"></i>
                            <p class="p-md">Schletter
                            </p>
                        </li>

                    </ul> <!-- End Text List -->

                </div>
            </div> <!-- END TEXT BLOCK -->


            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block right-column pc-25 mb-40 wow fadeInLeft" data-wow-delay="0.4s">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/equipo/solar_structure.jpg') }}"
                        alt="content-image">
                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END CONTENT -->


{% endblock content %}