{% extends 'static_pages/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<section id="hero-2" class="hero-section">


	<!-- HERO TEXT -->
	<div id="hero-2-txt" class="bg-scroll division">
		<div class="container white-color">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="hero-2-txt">

						<!-- Title -->
						<h2 class="h2-xs">Skyterra</h2>

						<!-- Text -->
						<p class="p-xl">
							Plataforma de transacciones energéticas para acelerar la transición a las energías
							limpias
						</p>

						<!-- Buttons -->
						<!-- <div class="hero-2-btns">

									<a href="#contacts-4" class="btn btn-md btn-dimgreen tra-white-hover mr-15">Get
										Started Now</a>

									<a href="https://www.youtube.com/embed/SZEflIVnhH8"
										class="video-popup1 btn btn-md btn-primary tra-white-hover">
										Take Quick Tour
									</a>

								</div> -->

					</div>
				</div>
			</div> <!-- End row -->
		</div> <!-- End container -->


		<!-- SECTION OVERLAY -->
		<div class="bg-fixed white-overlay-top"></div>


	</div> <!-- END HERO TEXT -->


	<!-- HERO BOXES -->
	<div class="container">
		<div id="hero-2-boxes">
			<div class="row">
				<!-- HERO BOX #1 -->
				<div class="col-md-4">
					<div class="hbox-1 wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="0.4s">

						<!-- Vector Icon  -->
						<!-- <div class="hbox-1-ico primary-color ico-80"><span class="flaticon-pantone"></span>
								</div> -->

						<!-- PNG Icon -->
						<img class="hbox-1-ico img-80"
							src="{{ url_for('static', filename='images/icons/manufacturing.png') }}" alt="icon" />

						<!-- Text -->
						<h5 class="h5-xs">Acelerando conexiones</h5>
						<p class="grey-color">An magnis nulla dolor and sapien augue iaculis undo tempor magna
							ipsum
							and vitae purus ipsum
						</p>

					</div>
				</div>

				<!-- HERO BOX #2 -->
				<div class="col-md-4">
					<div class="hbox-1 wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="0.6s">

						<!-- Vector Icon 
									<div class="hbox-1-ico primary-color ico-80"><span class="flaticon-manufacturing"></span></div> -->

						<!-- PNG Icon -->
						<img class="hbox-1-ico img-80"
							src="{{ url_for('static', filename='images/icons/management.png') }}" alt="icon" />

						<!-- Text -->
						<h5 class="h5-xs">Acelerando decisiones</h5>
						<p class="grey-color">An magnis nulla dolor and sapien augue iaculis undo tempor magna
							ipsum
							and vitae purus ipsum
						</p>

					</div>
				</div>

				<!-- HERO BOX #3 -->
				<div class="col-md-4">
					<div class="hbox-1 wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="0.8s">

						<!-- Vector Icon  
									<div class="hbox-1-ico primary-color ico-80"><span class="flaticon-chart"></span></div> -->

						<!-- PNG Icon -->
						<img class="hbox-1-ico img-80"
							src="{{ url_for('static', filename='images/icons/analytics-5.png') }}" alt="icon" />

						<!-- Text -->
						<h5 class="h5-xs">Acelerando acuerdos</h5>
						<p class="grey-color">An magnis nulla dolor and sapien augue iaculis undo tempor magna
							ipsum
							and vitae purus ipsum
						</p>

					</div>
				</div>

			</div>
		</div>
	</div> <!-- END HERO BOXES -->


</section> <!-- END HERO-2 -->

{% endblock content %}

{% block javascript %}
<script>
	const headerDiv = document.getElementById('header')
	headerDiv.classList.remove('navbar-dark');
	headerDiv.classList.remove('white-menu');
	headerDiv.classList.add('tra-menu', 'navbar-light')
</script>
{% endblock javascript %}