{% extends 'base.html' %}

{% block title %}Registro de oferta de compra{% endblock title %}

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
<section>
    {% set ofertas_predim = current_user.user_rol.ofertas|selectattr('status', 'equalto', 0)|list %}
    {% set ofertas_dimen = current_user.user_rol.ofertas|selectattr('status', 'equalto', 1)|list %}
    {% set ofertas_adqui = current_user.user_rol.ofertas|selectattr('status', 'equalto', 2)|list %}
    {% set ofertas_insta = current_user.user_rol.ofertas|selectattr('status', 'equalto', 3)|list %}
    {% set ofertas_puestaMarcha = current_user.user_rol.ofertas|selectattr('status', 'equalto', 4)|list %}
    {% set ofertas_activas = current_user.user_rol.ofertas|rejectattr('status', 'equalto', 4)|list %}
    <div class="container mt-3 mb-3">
        <div class="card rounded shadow">
            <div class="card-header h4 text-center">Mis ofertas</div>
            <div class="card-body">
                {% if errorInvGestor %}
                <div class="row d-flex justify-content-center">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        El código del gestor es incorrecto.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% elif errorNoGestor %}
                <div class="row d-flex justify-content-center">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        No existen gestores en tu municipio por el momento.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}

                <div class="mb-3 flex-column">
                    <h6>Hola {{current_user.nombre}}!</h6>
                    <p>Actualmente tienes: <span>{{ len(ofertas_activas) }}</span> oferta(s) de compra activa(s).</p>
                    <a href="{{url_for('solarbeam.registro_oferta_compra')}}"><button class="btn btn-primary">Registrar
                            nueva oferta</button></a>
                </div>
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="predim-tab" data-toggle="tab" href="#predim" role="tab"
                            aria-controls="predim" aria-selected="true">Pre-dimensionamiento
                            {% if ofertas_predim %}
                            &nbsp&nbsp<span class="badge badge-pill badge-primary">{{ len(ofertas_predim)}}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="dimen-tab" data-toggle="tab" href="#dimen" role="tab"
                            aria-controls="dimen" aria-selected="false">Dimensionamiento
                            {% if ofertas_dimen %}
                            &nbsp&nbsp<span class="badge badge-pill badge-primary">{{ len(ofertas_dimen)}}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="adqui-tab" data-toggle="tab" href="#adqui" role="tab"
                            aria-controls="adqui" aria-selected="false">Adquisición
                            {% if ofertas_adqui %}
                            &nbsp&nbsp<span class="badge badge-pill badge-primary">{{ len(ofertas_adqui)}}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="insta-tab" data-toggle="tab" href="#insta" role="tab"
                            aria-controls="insta" aria-selected="false">Instalación
                            {% if ofertas_insta %}
                            &nbsp&nbsp<span class="badge badge-pill badge-primary">{{ len(ofertas_insta)}}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="puestaMarcha-tab" data-toggle="tab" href="#puestaMarcha" role="tab"
                            aria-controls="puestaMarcha" aria-selected="false">Puesta en marcha
                            {% if ofertas_puestaMarcha %}
                            &nbsp&nbsp<span class="badge badge-pill badge-primary">{{ len(ofertas_puestaMarcha)}}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-3" id="predim" role="tabpanel" aria-labelledby="predim-tab">
                        {% if ofertas_predim %}
                        <table class="table table-card text-center">
                            <thead>
                                <th>Nombre</th>
                                <th>Email de gestor</th>
                                <th>Capacidad mínima en kWp</th>
                                <th>Capacidad máxima en kWac</th>
                                <th>Confirmación</th>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas_predim %}
                                <tr>
                                    <td>{{oferta.nombre}}</td>
                                    {% if oferta.gestor %}
                                    <td>{{oferta.gestor.user_role.user.email}}</td>
                                    {% else %}
                                    <td>Ningún gestor se ha encontrado en el área <span
                                            class="ml-3 cursor-pointer flaticon-users" data-toggle="modal"
                                            data-target="#exampleModal" id="{{oferta.id}}"></span></td>
                                    {% endif %}
                                    <td>{{oferta.min_wp}}</td>
                                    <td>{{oferta.max_kw}}</td>
                                    <td>
                                        <p>
                                            {% if oferta.pre_dimensionamiento.status_comprador %}
                                            <a href="{{ url_for('solarbeam.comprador_oferta_info', id_oferta=oferta.id) }}"
                                                class="text-success font-weight-bold">Falta confirmación de
                                                gestor</a>
                                            {% else %}
                                            <a href="{{ url_for('solarbeam.comprador_oferta_info', id_oferta=oferta.id) }}"
                                                class="text-danger font-weight-bold">Falta confirmación</a>
                                            {% endif %}
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>Actualmente no tienes ofertas en la etapa de pre-dimensionamiento.</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade p-3" id="dimen" role="tabpanel" aria-labelledby="dimen-tab">
                        {% if ofertas_dimen %}
                        <table class="table table-card text-center">
                            <thead>
                                <th>Nombre</th>
                                <th>Email de gestor</th>
                                <th>Capacidad mínima en kWp</th>
                                <th>Capacidad máxima en kWac</th>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas_dimen %}
                                <tr>
                                    <td>{{oferta.nombre}}</td>
                                    {% if oferta.gestor %}
                                    <td>{{oferta.gestor.user_role.user.email}}</td>
                                    {% else %}
                                    <td>Ningún gestor se ha encontrado en el área</td>
                                    {% endif %}
                                    <td>{{oferta.min_wp}}</td>
                                    <td>{{oferta.max_kw}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>Actualmente no tienes ofertas en la etapa de dimensionamiento.</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade p-3" id="adqui" role="tabpanel" aria-labelledby="adqui-tab">
                        {% if ofertas_adqui %}
                        <table class="table table-card text-center">
                            <thead>
                                <th>Nombre</th>
                                <th>Email de gestor</th>
                                <th>Capacidad mínima en kWp</th>
                                <th>Capacidad máxima en kWac</th>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas_adqui %}
                                <tr>
                                    <td>{{oferta.nombre}}</td>
                                    {% if oferta.gestor %}
                                    <td>{{oferta.gestor.user_role.user.email}}</td>
                                    {% else %}
                                    <td>Ningún gestor ha aceptado la oferta</td>
                                    {% endif %}
                                    <td>{{oferta.min_wp}}</td>
                                    <td>{{oferta.max_kw}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>Actualmente no tienes ofertas en la etapa de adquisición.</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade p-3" id="insta" role="tabpanel" aria-labelledby="insta-tab">
                        {% if ofertas_insta %}
                        <table class="table table-card text-center">
                            <thead>
                                <th>Nombre</th>
                                <th>Email de gestor</th>
                                <th>Capacidad mínima en kWp</th>
                                <th>Capacidad máxima en kWac</th>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas_insta %}
                                <tr>
                                    <td>{{oferta.nombre}}</td>
                                    {% if oferta.gestor %}
                                    <td>{{oferta.gestor.user_role.user.email}}</td>
                                    {% else %}
                                    <td>Ningún gestor ha aceptado la oferta</td>
                                    {% endif %}
                                    <td>{{oferta.min_wp}}</td>
                                    <td>{{oferta.max_kw}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>Actualmente no tienes ofertas en la etapa de instalación.</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade p-3" id="puestaMarcha" role="tabpanel" aria-labelledby="puestaMarcha-tab">
                        {% if ofertas_puestaMarcha %}
                        <table class="table table-card text-center">
                            <thead>
                                <th>Nombre</th>
                                <th>Email de gestor</th>
                                <th>Capacidad mínima en kWp</th>
                                <th>Capacidad máxima en kWac</th>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas_puestaMarcha %}
                                <tr>
                                    <td>{{oferta.nombre}}</td>
                                    {% if oferta.gestor %}
                                    <td>{{oferta.gestor.user_role.user.email}}</td>
                                    {% else %}
                                    <td>Ningún gestor ha aceptado la oferta</td>
                                    {% endif %}
                                    <td>{{oferta.min_wp}}</td>
                                    <td>{{oferta.max_kw}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>Actualmente no tienes ofertas en la etapa de puesta en marcha</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form method="POST" id="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar gestor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <label for="gestorOpc">Selecciona una opción</label>
                            <select name="gestorOpc" id="gestOption" class="form-control">
                                <option value="sinGestor" selected>No cuento con código de gestor</option>
                                <option value="conGestor">Cuento con código de gestor</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="codigoGestor">Código de gestor</label>
                            <input type="text" class="form-control" name="codigoGestor" id="codigoGestor" disabled>
                            <div class="invalid-feedback">
                                Por favor rellene el campo con un código de gestor valido de 6 dígitos.
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="ofertaGestor" name="oferta">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}

{% block javascript %}
<script>
    const appLogic = (() => {
        const form = document.querySelector('#form');
        const gestOption = document.querySelector('#gestOption');
        const codigoInput = document.querySelector('#codigoGestor');
        const hiddenInput = document.querySelector('#ofertaGestor');

        const hiddenInputName = (newId) => {
            hiddenInput.value = newId;
        }

        const updateCodeInput = () => {
            codigoInput.value = '';
            if (gestOption.value === 'sinGestor') codigoInput.disabled = true;
            if (gestOption.value === 'conGestor') codigoInput.disabled = false;
        }

        const validateCodeInput = () => {
            return (
                validations.isRequired(codigoInput.value) &&
                validations.isBetween(codigoInput.value.length, 6, 6)
            )
        }

        const validateHiddenInput = () => validations.isRequired(hiddenInput.value);

        const errorHiddenInput = () => {
            alert('Error! Contactar admin');
            return false
        }

        const validateForm = () => {
            validations.validateError();

            let errors = [];

            if (gestOption.value === 'conGestor') {
                errors.push(!validateCodeInput() ? validations.showError(codigoInput) : true);
            }
            errors.push(!validateHiddenInput() ? errorHiddenInput() : true);

            if (!errors.includes(false)) form.submit();
        }

        const addListeners = () => {
            let iconButtons = document.querySelectorAll('.flaticon-users')
            iconButtons.forEach(iconButton => {
                iconButton.addEventListener('click', (e) => {
                    console.log(e.target.id);
                    hiddenInputName(e.target.id)
                })
            });

            gestOption.addEventListener('change', () => {
                updateCodeInput();
            })

            form.addEventListener('submit', (e) => {
                e.preventDefault()
                validateForm()
            })
        }

        const _init = (() => {
            addListeners();
        })()
    })()
</script>
{% endblock javascript %}