{% extends 'base.html' %}

{% block title %}Confirmar registro{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <section>
        <div class="container mt-3 mb-3">
            <div class="card">
                <div class="card-header h4 text-center">Confirmar registro de usuario</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="orange-bottom-border">
                            <h5>Tipo de Usuario</h5>
                        </div>
                        <div class="form-row mt-4">
                            <label for="rolUser">Selecciona el tipo de usuario</label>
                            <select name="rolUser" id="rolUser" class="form-control">
                                <option value="comprador">Comprador</option>
                                <option value="gestor">Gestor</option>
                                <option value="integrador">Integrador</option>
                            </select>
                        </div>
                    </div>
                    <div class="main-content" id="mainContent">
                        <div class="form-group mt-4">
                            <div class="orange-bottom-border">
                                <h5>Información personal</h5>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-sm-6">
                                    <label for="nombreUser">Nombre</label>
                                    <input type="text" name="nombreUser" class="form-control" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="apellUser">Apellidos</label>
                                    <input type="text" name="apellUser" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-sm-6">
                                    <label for="telUser">Teléfono celular a 10 digitos</label>
                                    <input type="number" name="telUser" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="orange-bottom-border">
                                <h5>Información comercial</h5>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-sm-6">
                                    <label for="nombreCom">Nombre Comercial</label>
                                    <input type="text" name="nombreCom" class="form-control" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="razSoc">Razón social</label>
                                    <input type="text" name="razSoc" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-sm-6">
                                    <label for="rfc">RFC</label>
                                    <input type="text" name="rfc" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-md-6">
                                    <label for="nomLegal">Nombre representante legal</label>
                                    <input type="text" name="nomLegal" class="form-control" required>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label for="apePatLegal">Apellido paterno del rep. legal</label>
                                    <input type="text" name="apePatLegal" class="form-control" required>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <label for="apeMatLegal">Apellido materno del rep. legal</label>
                                    <input type="text" name="apeMatLegal" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-md-6">
                                    <label for="calle">Calle y número</label>
                                    <input type="text" name="calle" class="form-control" required>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="colonia">Colonia</label>
                                    <input type="text" name="colonia" class="form-control" required>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="cp">Código Postal</label>
                                    <input type="text" name="cp" class="form-control {{'is-invalid' if cp_error}}"
                                        required>
                                    <div class="invalid-feedback">
                                        Por favor escoja un código postal valido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="orange-bottom-border">
                                <h5>Documentos necesarios</h5>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-sm-6">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="actaConstitutiva"
                                            id="actaConstitutiva" required>
                                        <label class="custom-file-label" for="actaConstitutiva">Acta
                                            Constitutiva</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="docReq1" id="docReq1"
                                            required>
                                        <label class="custom-file-label" for="docReq1">Documento requisito 1</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-sm-6">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="docReq2" id="docReq2"
                                            required>
                                        <label class="custom-file-label" for="docReq2">Documento requisito 2</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="docReq3" id="docReq3"
                                            required>
                                        <label class="custom-file-label" for="docReq3">Documento requisito 3</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-primary">Confirmar datos</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script type="text/javascript">
    const renderDOM = (() => {
        let mainContent = document.querySelector('#mainContent');

        const renderSectionTitle = (title) => {
            let section = document.createElement('div');
            section.classList.add('form-group', 'mt-4');

            let titleDiv = document.createElement('div');
            let titleH5 = document.createElement('h5');
            titleDiv.classList.add('orange-bottom-border');
            titleH5.innerText = title;
            titleDiv.appendChild(titleH5);
            section.appendChild(titleDiv);

            return section
        }

        const renderInputColumn = (idInput, labelName, classCol, inputType = 'text') => {
            let col = document.createElement('div');
            classCol.forEach(className => {
                col.classList.add(className);
            });

            let label = document.createElement('label');
            let input = document.createElement('input');
            label.htmlFor = idInput;
            label.innerText = labelName;
            input.type = inputType;
            input.name = idInput;
            input.required = true;
            input.classList.add('form-control');
            col.appendChild(label);
            col.appendChild(input);

            return col;
        }

        const renderInputFileColumn = (idInput, labelName, classCol) => {
            let col = document.createElement('div');
            classCol.forEach(className => {
                col.classList.add(className);
            });

            let fileWrapper = document.createElement('div');
            let label = document.createElement('label');
            let input = document.createElement('input');
            fileWrapper.classList.add('custom-file');
            input.type = 'file';
            input.classList.add('custom-file-input');
            input.name = idInput;
            input.id = idInput;
            input.required = true;
            label.htmlFor = idInput;
            label.classList.add('custom-file-label');
            label.innerText = labelName;

            fileWrapper.appendChild(input);
            fileWrapper.appendChild(label);
            col.appendChild(fileWrapper);

            return col;
        }

        const renderIntegrador = () => {
            mainContent.innerHTML = '';

            infoPersonal = renderSectionTitle('Información personal');

            let formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-4');
            col = renderInputColumn('nombreUser', 'Nombre', ['col-sm-6']);
            formRow.appendChild(col);
            col = renderInputColumn('apellUser', 'Apellidos', ['col-sm-6']);
            formRow.appendChild(col);
            infoPersonal.appendChild(formRow);

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-3');
            col = renderInputColumn('telUser', 'Teléfono celular a 10 digitos', ['col-sm-6'], inputType = 'number');
            formRow.appendChild(col);
            infoPersonal.appendChild(formRow);

            mainContent.appendChild(infoPersonal);

            infoComercial = renderSectionTitle('Información comercial');

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-4');
            col = renderInputColumn('nombreCom', 'Nombre Comercial', ['col-sm-6'])
            formRow.appendChild(col);
            col = renderInputColumn('razSoc', 'Razón social', ['col-sm-6'])
            formRow.appendChild(col);
            infoComercial.appendChild(formRow);

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-3');
            col = renderInputColumn('rfc', 'RFC', ['col-sm-6'])
            formRow.appendChild(col);
            infoComercial.appendChild(formRow);

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-3');
            col = renderInputColumn('nomLegal', 'Nombre representante legal', ['col-md-6'])
            formRow.appendChild(col);
            col = renderInputColumn('apePatLegal', 'Apellido paterno del rep. legal', ['col-md-3', 'col-sm-6'])
            formRow.appendChild(col);
            col = renderInputColumn('apeMatLegal', 'Apellido materno del rep. legal', ['col-md-3', 'col-sm-6'])
            formRow.appendChild(col);
            infoComercial.appendChild(formRow);

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-3');
            col = renderInputColumn('calle', 'Calle y número', ['col-md-6'])
            formRow.appendChild(col);
            col = renderInputColumn('colonia', 'Colonia', ['col-md-3', 'col-sm-6'])
            formRow.appendChild(col);
            col = renderInputColumn('cp', 'Código Postal', ['col-md-3', 'col-sm-6'])
            formRow.appendChild(col);
            infoComercial.appendChild(formRow);

            mainContent.appendChild(infoComercial);

            docReq = renderSectionTitle('Documentos necesarios');

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-4');
            col = renderInputFileColumn('actaConstitutiva', 'Acta Constitutiva', ['col-sm-6']);
            formRow.appendChild(col);
            col = renderInputFileColumn('docReq1', 'Documento requisito 1', ['col-sm-6']);
            formRow.appendChild(col);
            docReq.appendChild(formRow);

            formRow = document.createElement('div');
            formRow.classList.add('form-row', 'mt-3');
            col = renderInputFileColumn('docReq2', 'Documento requisito 2', ['col-sm-6']);
            formRow.appendChild(col);
            col = renderInputFileColumn('docReq3', 'Documento requisito 3', ['col-sm-6']);
            formRow.appendChild(col);
            docReq.appendChild(formRow);

            mainContent.appendChild(docReq);
        }

        return { renderIntegrador }
    })()

    const appLogic = (() => {
        const rol = document.querySelector('#rolUser');

        const addListeners = () => {
            rol.addEventListener('change', () => {
                if (rol.value == 'integrador') {
                    renderDOM.renderIntegrador();
                } else {
                    renderDOM.renderIntegrador();
                }
            })
        }

        const _init = (() => {
            addListeners();
        })()
    })()
</script>
{% endblock javascript %}