{% extends 'base.html' %}

{% block title %}¿Cómo funciona?{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

{% endblock stylesheets %}

{% block content %}
<section class="section-bg">
    <div class="container mt-3 mb-3">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-header text-center h3">Calcular ahorro</div>
                        <div class="card-body">
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group col-md-2 text-center">
                                    <label for="estadosOptions">Estado</label>
                                    <select id="estadosOptions" name="estado" class="form-control selectpicker"
                                        data-live-search="true">
                                        {% for estado in estados %}
                                        <option value="{{estado}}">{{estado.title()}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <label for="municipiosOptions">Municipio</label>
                                    <select id="municipiosOptions" name="municipio" class="form-control selectpicker"
                                        data-live-search="true"></select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <label for="serviciosOptions">Selecciona un servicio</label>
                                    <select id="serviciosOptions" name="servicio" class="form-control">
                                        <option value="hogar">Hogar</option>
                                        <option value="negocio">Negocio</option>
                                        <option value="industria">Industria</option>
                                        <option value="industria">Agrícola y servicios</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <label for="tarifasOptions">Selecciona una tarifa</label>
                                    <select id="tarifasOptions" name="tarifa" class="form-control"></select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <label for="iniDate">Año</label>
                                    <input type="date" name="fecha" id="iniDate" value="2021-06-04"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-row d-flex justify-content-center mt-3">
                                <div id="gMap" style='width: 90%; height: 60vh;'></div>
                            </div>
                            <div>
                                <input type="text" id="coordLat" name="coordLat" style="display: none;" required>
                                <input type="text" id="coordLon" name="coordLon" style="display: none;" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body pb-0">
                            <div class="accordion" id="accordionBody">
                            </div>
                            <div class="form-group d-flex justify-content-center mt-3">
                                <button class="btn btn-primary" type="submit" id="submitBtn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDzLu74p00cxGZVFd5fGWkH6Aj6lBJO-Q&callback=initMap&libraries=&v=weekly"
    async></script>
<script type="text/javascript">
    const estadosMunis = {{ estados | safe }};
    const tarifasBySelection = {
        'hogar': ['1', '1a', '1b', '1c', '1d', '1e', '1f', 'dac'],
        'negocio': ['apbt', 'pdbt', 'apmt', 'gdmth', 'rabt', 'ramt', 'gdbt', 'gdmto', '9cn'],
        'industria': ['apmt', 'ramt', 'gdmto', 'gdmth', 'dist', 'dit', '9cn'],
        'agricola': ['apmt', 'ramt', 'gdmto', 'gdmth', 'dist', 'dit', '9cn']
    }

    const months = [
        'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
        'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
    ]

    const renderAccordBody = (() => {

        const renderMTO_BT_RAMT = (id) => {
            let formGroup = document.createElement('div');
            let kwhLabel = document.createElement('label');
            let kwhInput = document.createElement('input');
            let demBaseLabel = document.createElement('label');
            let demBaseInput = document.createElement('input');
            let demInterLabel = document.createElement('label');
            let demInterInput = document.createElement('input');
            let demPuntaLabel = document.createElement('label');
            let demPuntaInput = document.createElement('input');

            formGroup.classList.add('form-row');

            let col = document.createElement('div');
            col.classList.add('col-md-3');

            kwhId = `kwh-${id}`
            kwhLabel.innerText = 'Consumo en KWh';
            kwhLabel.htmlFor = kwhId;
            kwhInput.classList.add('form-control');
            kwhInput.name = kwhId;

            col.appendChild(kwhLabel)
            col.appendChild(kwhInput);

            formGroup.appendChild(col);


            col = document.createElement('div');
            col.classList.add('col-md-3');

            demBaseId = `dem-base-${id}`;
            demBaseLabel.innerText = 'Demanda base'
            demBaseLabel.htmlFor = demBaseId;
            demBaseInput.classList.add('form-control');
            demBaseInput.name = demBaseId

            col.appendChild(demBaseLabel);
            col.appendChild(demBaseInput);

            formGroup.appendChild(col);


            col = document.createElement('div');
            col.classList.add('col-md-3');

            demInterId = `dem-inter-${id}`;
            demInterLabel.innerText = 'Demanda intermedia'
            demInterLabel.htmlFor = demInterId;
            demInterInput.classList.add('form-control');
            demInterInput.name = demInterId;

            col.appendChild(demInterLabel);
            col.appendChild(demInterInput);

            formGroup.appendChild(col);


            col = document.createElement('div');
            col.classList.add('col-md-3');

            demPuntaId = `dem-punta-${id}`;
            demPuntaLabel.innerText = 'Demanda punta'
            demPuntaLabel.htmlFor = demPuntaId;
            demPuntaInput.classList.add('form-control');
            demPuntaInput.name = demPuntaId;

            col.appendChild(demPuntaLabel);
            col.appendChild(demPuntaInput);

            formGroup.appendChild(col);


            return formGroup
        }

        const renderGDMTH = (id) => {
            let categorias = {
                'base': 'base', 'inter': 'intermedio', 'punta': 'punta'
            }
            let kwhRow = document.createElement('div');
            kwhRow.classList.add('form-row', 'd-flex', 'justify-content-center', 'mt-1', 'mb-2');
            let demRow = document.createElement('div');
            demRow.classList.add('form-row', 'd-flex', 'justify-content-center', 'mt-2', 'mb-2');
            let formGroup = document.createElement('div');

            Object.entries(categorias).forEach(([cat_id, nombreLbl]) => {
                let kwhId = `kwh-${cat_id}-${id}`;
                let kwhLabel = document.createElement('label');
                let kwhInput = document.createElement('input');
                let kwhCol = document.createElement('div');

                kwhCol.classList.add('col-md-3');
                kwhLabel.innerText = `Consumo ${nombreLbl} en KWh`;
                kwhLabel.htmlFor = kwhId;
                kwhInput.classList.add('form-control');
                kwhInput.name = kwhId;

                kwhCol.appendChild(kwhLabel)
                kwhCol.appendChild(kwhInput);
                kwhRow.appendChild(kwhCol);

                let demId = `dem-${cat_id}-${id}`;
                let demLabel = document.createElement('label');
                let demInput = document.createElement('input');
                let demCol = document.createElement('div');

                demCol.classList.add('col-md-3');
                demLabel.innerText = `Demanda ${nombreLbl} en KWh`;
                demLabel.htmlFor = demId;
                demInput.classList.add('form-control');
                demInput.name = demId;

                demCol.appendChild(demLabel)
                demCol.appendChild(demInput);
                demRow.appendChild(demCol);
            })

            formGroup.appendChild(kwhRow);
            formGroup.appendChild(demRow);

            return formGroup
        }

        return { renderMTO_BT_RAMT, renderGDMTH }
    })()

    const pageLogic = (() => {
        const estadosSelection = document.querySelector('#estadosOptions');
        const munisSelection = document.querySelector('#municipiosOptions');
        const servSelection = document.querySelector('#serviciosOptions');
        const tarifasSelection = document.querySelector('#tarifasOptions');
        const initDate = document.querySelector('#iniDate');

        let accordBody = document.querySelector('#accordionBody')

        let subtmitBtn = document.querySelector('#submitBtn');

        const updateMunisSelection = () => {
            munisSelection.innerHTML = '';
            let municipios = estadosMunis[estadosSelection.value]

            municipios.forEach(municipio => {
                let option = document.createElement('option');
                option.value = municipio;
                option.text = municipio.split(' ')
                    .map(w => w[0].toUpperCase() + w.substr(1).toLowerCase())
                    .join(' ')
                munisSelection.appendChild(option);
            });
            $(munisSelection).selectpicker('refresh');
        }

        const updateTarifasSelection = () => {
            tarifasSelection.innerHTML = '';
            let tarifas = tarifasBySelection[servSelection.value]

            tarifas.forEach(tarifa => {
                let option = document.createElement('option');
                option.value = tarifa;
                option.text = tarifa.toUpperCase();

                tarifasSelection.appendChild(option);
            })
        }

        const renderAccordsBim = () => {
            let startDate = new Date(initDate.value);
            let firstMonth = new Date();
            let secondMonth = new Date();
            accordBody.innerHTML = '';
            for (let i = 0; i < 12; i += 2) {
                firstMonth.setMonth(startDate.getMonth() + i);
                secondMonth.setMonth(startDate.getMonth() + i + 1);
                let idxFirstMonth = firstMonth.getMonth();
                let idxSecMonth = secondMonth.getMonth();

                let card = document.createElement('div');
                let cardHeader = document.createElement('div');
                let h2 = document.createElement('h2');
                let collapseButton = document.createElement('button');
                let collapseAccord = document.createElement('div');
                let cardBody = document.createElement('div');

                let kwhFormGroup = document.createElement('div');
                let kwhLabel = document.createElement('label');
                let kwhInput = document.createElement('input');


                card.classList.add('card');
                cardHeader.classList.add('card-header');
                cardHeader.id = `cardHeader${i}`;
                h2.classList.add('mb-0');
                collapseButton.id = `btnAccord${i}`;
                collapseButton.classList.add('btn', 'btn-link', 'btn-block', 'text-left', 'collapsed', 'text-primary')
                collapseButton.type = 'button';
                collapseButton.setAttribute('data-toggle', 'collapse');
                collapseButton.setAttribute('data-target', `#accordM${i}`);
                collapseAccord.setAttribute('aria-expanded', 'false');
                collapseAccord.setAttribute('aria-controls', `accordM${i}`)
                collapseButton.innerText = `Bimestre: ${months[idxFirstMonth]} - ${months[idxSecMonth]}`;

                h2.appendChild(collapseButton);
                cardHeader.appendChild(h2);

                collapseAccord.id = `accordM${i}`;
                collapseAccord.classList.add('collapse')
                collapseAccord.setAttribute('aria-labelledby', 'aria-labelledby');
                collapseAccord.setAttribute('data-parent', '#accordionBody');
                cardBody.classList.add('card-body', 'd-flex', 'justify-content-center');
                cardBody.id = `accordContent${i}`;
                // cardBody.innerText = 'Placeholder';

                kwhFormGroup.classList.add('form-group');
                kwhInputId = `bim-${i}`;
                kwhInput.id = kwhInputId;
                kwhInput.classList.add('form-control', 'kwhInput');
                kwhInput.type = 'number';
                kwhInput.name = kwhInputId;
                kwhLabel.htmlFor = kwhInputId;
                kwhLabel.innerText = 'Consumo en KWh de ese bimestre'

                kwhFormGroup.appendChild(kwhLabel);
                kwhFormGroup.appendChild(kwhInput);
                cardBody.appendChild(kwhFormGroup);

                collapseAccord.appendChild(cardBody);

                card.appendChild(cardHeader);
                card.appendChild(collapseAccord);

                accordBody.appendChild(card);
            }
        }

        const renderAccordsMens = () => {
            let values = initDate.value.split('-');
            values[2] = +values[2] // 01 = mes anterior, 1 funciona correctamente
            let startDate = new Date(values.join('-'));
            let month = new Date();
            accordBody.innerHTML = '';
            for (let i = 0; i <= 11; i++) {
                month.setMonth(startDate.getMonth() + i);

                let card = document.createElement('div');
                let cardHeader = document.createElement('div');
                let h2 = document.createElement('h2');
                let collapseButton = document.createElement('button');
                let collapseAccord = document.createElement('div');
                let cardBody = document.createElement('div');

                let formGroup = document.createElement('div');

                card.classList.add('card');
                cardHeader.classList.add('card-header');
                cardHeader.id = `cardHeader${i}`;
                h2.classList.add('mb-0');
                collapseButton.id = `btnAccord${i}`;
                collapseButton.classList.add('btn', 'btn-link', 'btn-block', 'text-left', 'collapsed', 'text-primary')
                collapseButton.type = 'button';
                collapseButton.setAttribute('data-toggle', 'collapse');
                collapseButton.setAttribute('data-target', `#accordM${i}`);
                collapseAccord.setAttribute('aria-expanded', 'false');
                collapseAccord.setAttribute('aria-controls', `accordM${i}`)
                collapseButton.innerText = `${months[month.getMonth()]}`;

                h2.appendChild(collapseButton);
                cardHeader.appendChild(h2);

                collapseAccord.id = `accordM${i}`;
                collapseAccord.classList.add('collapse')
                collapseAccord.setAttribute('aria-labelledby', 'aria-labelledby');
                collapseAccord.setAttribute('data-parent', '#accordionBody');
                cardBody.classList.add('card-body');
                cardBody.id = `accordContent${i}`;

                formGroup = renderAccordBody.renderGDMTH(i);

                cardBody.appendChild(formGroup);

                collapseAccord.appendChild(cardBody);

                card.appendChild(cardHeader);
                card.appendChild(collapseAccord);

                accordBody.appendChild(card);
            }
        }

        const renderAccords = () => {
            if (servSelection.value === 'hogar') {
                renderAccordsBim();
            } else {
                renderAccordsMens();
            }
        }

        const submitForm = () => {
            let kwhInputs = document.querySelectorAll('.kwhInput');
            kwhInputs.forEach(input => {
                console.log(input.value);
            })
            let [lon, lat] = mapFunctions.getCoords();
            console.log(`Coordenadas: ${lon} - ${lat}`);

            console.log(`Tipo: ${servSelection.value} - Tarifa: ${tarifasSelection.value}`)

        }

        const _addListeners = () => {
            estadosSelection.addEventListener('change', () => {
                updateMunisSelection();
            })

            servSelection.addEventListener('change', () => {
                updateTarifasSelection();
                renderAccords();
            })

            initDate.addEventListener('change', () => {
                renderAccords();
            })

            subtmitBtn.addEventListener('click', () => {
                submitForm();
            })
        }

        const _init = (() => {
            _addListeners();
            updateTarifasSelection();
            updateMunisSelection();
            renderAccords();
        })()

    })()


    const mapFunctions = (() => {
        let marker;
        let map;
        let latitud = document.querySelector('#coordLat');
        let longitud = document.querySelector('#coordLon');

        const placeMarker = (location) => {
            if (marker) {
                marker.setPosition(location);
                addCoords();
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                addCoords();
            }
        }

        const addCoords = () => {
            latitud.value = marker.getPosition().lat();
            longitud.value = marker.getPosition().lng();
        }

        const getCoords = () => {
            let long = marker.getPosition().lng();
            let lat = marker.getPosition().lat();

            return [long, lat]
        }

        function initMap() {
            map = new google.maps.Map(
                document.getElementById('gMap'), {
                zoom: 9,
                center: { lat: 24.1409, lng: -110.3128 }
            });
            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });
        }
        return { initMap, getCoords }
    })()


    function initMap() {
        mapFunctions.initMap();
    }



</script>
{% endblock javascript %}