{% extends 'base.html' %}

{% block title %}Registro de oferta de compra{% endblock title %}

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
<form method="POST" id="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <section>
        <div class="container mt-3 mb-3">
            <div class="card shadow">
                <div class="card-header h4 text-center">Registro de oferta de compra</div>
                <div class="card-body">
                    {% if success %}
                    <div class="row d-flex justify-content-center">
                        <div class="alert alert-success" role="alert">
                            Exito!
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="orange-bottom-border">
                            <h5>Tipo de oferta</h5>
                        </div>

                        <div class="form-row mt-3">
                            <label for="tipoOferta">Selecciona el tipo de oferta</label>
                            <select name="tipoOferta" id="tipoOferta" class="form-control">
                                <option value="ofertaInd">Oferta individual</option>
                                <option value="ofertaAgr" disabled>Oferta agrupada</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <div class="orange-bottom-border">
                            <h5>Información técnica</h5>
                        </div>
                        <div class="form-row mt-3">
                            <label for="proyectoNombre">Nombre del proyecto</label>
                            <input type="text" name="proyectoNombre" id="proyectoNombre" class="form-control">
                            <div class="invalid-feedback">
                                Por favor escoja un nombre del proyecto.
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-sm-4">
                                <label for="capMin">Capacidad mínima en kWp</label>
                                <input type="number" name="capMin" id="capMin" class="form-control" step=".01">
                                <div class="invalid-feedback">
                                    Por favor rellene el campo con un número menor a 100 kWp.
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="capMax">Capacidad máxima en kWac</label>
                                <input type="number" name="capMax" id="capMax" class="form-control" step=".01">
                                <div class="invalid-feedback">
                                    Por favor rellene el campo con un número menor a 100 kWac.
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="capMax">Precio máximo</label>
                                <input type="number" name="preMax" id="preMax" class="form-control">
                                <div class="invalid-feedback">
                                    Por favor coloque precio máximo.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <div class="orange-bottom-border">
                            <h5>Ubicación</h5>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-md-6">
                                <label for="calle">Calle y número</label>
                                <input type="text" id="calle" name="calle" class="form-control">
                                <div class="invalid-feedback">
                                    Por favor rellene el campo con su dirección.
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <label for="colonia">Colonia</label>
                                <input type="text" id="colonia" name="colonia" class="form-control">
                                <div class="invalid-feedback">
                                    Por favor rellene el campo con su colonia.
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <label for="cp">Código Postal</label>
                                <input type="number" id="cp" name="cp" class="form-control">
                                <div class="invalid-feedback">
                                    Por favor rellene el campo con su código postal de 5 dígitos.
                                </div>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-center mt-3">
                            <div class="alert alert-danger {{'d-none' if not errorCoords}}" role="alert"
                                id="errorCoords">
                                Favor de seleccionar un punto en el mapa.
                            </div>
                            <div id="gMap" style='width: 90%; height: 60vh;'></div>
                        </div>
                    </div>
                    <input class="d-none" id="coordLat" name="coordLat">
                    <input class="d-none" id="coordLon" name="coordLon">
                    <div class="row d-flex justify-content-center mt-4">
                        <input type="submit" class="btn btn-primary" value="Confirmar registro">
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock content %}

{% block javascript %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDzLu74p00cxGZVFd5fGWkH6Aj6lBJO-Q&callback=initMap&libraries=&v=weekly"
    async></script>
<script>
    let latitud = document.querySelector('#coordLat');
    let longitud = document.querySelector('#coordLon');

    const mapFunctions = (() => {
        let marker;
        let map;


        const placeMarker = (location) => {
            if (marker) {
                marker.setPosition(location);
                addCoords();
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                addCoords();
            }
        }

        const addCoords = () => {
            latitud.value = marker.getPosition().lat();
            longitud.value = marker.getPosition().lng();
        }

        const getCoords = () => {
            let long = marker.getPosition().lng();
            let lat = marker.getPosition().lat();

            return [long, lat]
        }

        function initMap() {
            map = new google.maps.Map(
                document.getElementById('gMap'), {
                zoom: 9,
                center: { lat: 24.1409, lng: -110.3128 }
            });
            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });
        }
        return { initMap, getCoords }
    })()

    const validations = (() => {

        const isRequired = value => value === '' ? false : true;

        const isBetween = (length, min, max) => length < min || length > max ? false : true;

        const showErrorMap = (errorId) => {
            let errorDiv = document.getElementById(errorId);
            errorDiv.classList.remove('d-none');

            return false
        }

        const hideErrors = () => {
            let errors = document.querySelectorAll('.alert-danger')
            errors.forEach(error => {
                error.classList.add('d-none');
            });
        }

        const showError = (errorDiv) => {
            errorDiv.classList.remove('is-valid');
            errorDiv.classList.add('is-invalid');

            return false
        }

        const validateError = () => {
            let errors = document.querySelectorAll('.form-control')
            errors.forEach(error => {
                error.classList.remove('is-invalid');
                error.classList.add('is-valid');
            });

        }

        return {
            isRequired, isBetween,
            showErrorMap, hideErrors, showError, validateError
        }
    })()

    const appLogic = (() => {
        const form = document.querySelector('#form');
        const nombreProy = document.querySelector('#proyectoNombre');
        const capMin = document.querySelector('#capMin');
        const capMax = document.querySelector('#capMax');
        const preMax = document.querySelector('#preMax');
        const direccion = document.querySelector('#calle');
        const colonia = document.querySelector('#colonia');
        const codigoPostal = document.querySelector('#cp');


        const validateCoords = () => {
            return (
                validations.isRequired(latitud.value) &&
                validations.isRequired(longitud.value)
            )
        }

        const validateNombreProj = () => validations.isRequired(nombreProy.value);

        const validateCapMin = () => {
            return (
                validations.isRequired(capMin.value) &&
                validations.isBetween(capMin.value, 0.01, 100)
            )
        }

        const validateCapMax = () => {
            return (
                validations.isRequired(capMax.value) &&
                validations.isBetween(capMax.value, 0.01, 100)
            )
        }

        const validatePreMax = () => validations.isRequired(preMax.value)

        const validateDireccion = () => validations.isRequired(direccion.value)

        const validateColonia = () => validations.isRequired(colonia.value)

        const validateCP = () => {
            return (
                validations.isRequired(codigoPostal.value) &&
                validations.isBetween(codigoPostal.value.length, 5, 5)
            )
        }

        const validateForm = () => {
            validations.hideErrors();
            validations.validateError();
            let errors = []

            errors.push(!validateCoords() ? validations.showErrorMap('errorCoords') : true);
            errors.push(!validateNombreProj() ? validations.showError(nombreProy) : true);
            errors.push(!validateCapMin() ? validations.showError(capMin) : true);
            errors.push(!validateCapMax() ? validations.showError(capMax) : true);
            errors.push(!validatePreMax() ? validations.showError(preMax) : true);
            errors.push(!validateDireccion() ? validations.showError(direccion) : true);
            errors.push(!validateColonia() ? validations.showError(colonia) : true);
            errors.push(!validateCP() ? validations.showError(codigoPostal) : true);

            if (!errors.includes(false)) form.submit();

        }

        const addListeners = () => {
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                validateForm();
            })
        }

        const _init = (() => {
            addListeners();
        })()
    })()

    function initMap() {
        mapFunctions.initMap();
    }
</script>
{% endblock javascript %}