.section-bg {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../../images/page-hero.png');
}

.orange-bottom-border {
    border-bottom: 0.15em solid orange;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Buscar";
}