.section-bg {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../../images/page-hero.png');
}

.orange-bottom-border {
    border-bottom: 0.15em solid orange;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Buscar";
}

.color-secondary {
    color: rgb(6, 6, 161);
}

.cursor-pointer {
    cursor: pointer;
}