.section-bg {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../../images/page-hero.png');
}

.orange-bottom-border {
    border-bottom: 0.15em solid orange;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Buscar";
}

.color-secondary {
    color: rgb(6, 6, 161);
}

.cursor-pointer {
    cursor: pointer;
}

.table-delete-btn td:last-child i {
    opacity: 0;
    visibility: hidden;
    transition: 0.15s;
    color: rgba(255, 0, 0, 0.589);
    cursor: pointer;
}

.table-delete-btn tr:hover > td:last-child > i {
    opacity: 1;
    visibility: visible;
}

.table-delete-btn td:last-child i:hover {
    color: rgba(255, 0, 0, 1);
}

.table-link-icon td:last-child i {
    opacity: 0;
    visibility: hidden;
    transition: 0.15s;
    color: rgba(0, 4, 255, 0.589);
    cursor: pointer;
}

.table-link-icon tr:hover > td:last-child > a > i {
    opacity: 1;
    visibility: visible;
}

.table-link-icon td:last-child i:hover {
    color: rgba(0, 4, 255, 1);
}