<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container p-2">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo/solarBeam.svg') }}" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
            Skyterra
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if current_user.is_authenticated %}
            {% if current_user.user_rol %}
            <!-- Si el usuario tiene rol -->
            {% if current_user.user_rol.tipo == 'comprador' %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solarbeam.comprador_ofertas') }}">Mis ofertas</a>
                </li>
                {% if current_user.user_rol.has_licit_priv_agrupadas() %}
                {% set pending_offers = current_user.user_rol.get_total_number_of_pending_offers() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solarbeam.comprador_lictaciones') }}">
                        Mis licitaciones
                        {% if pending_offers > 0 %}
                        <span class="badge badge-pill badge-primary">{{ pending_offers }}</span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solarbeam.registro_oferta_compra') }}">Regsitrar nueva
                        oferta</a>
                </li>
            </ul>
            {% elif current_user.user_rol.tipo == 'gestor' %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solarbeam.gestor_ofertas') }}">Mis ofertas</a>
                </li>
            </ul>
            {% elif current_user.user_rol.tipo == 'integrador' %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('solarbeam_integrador.integrador_proyectos_disponibles') }}">Proyectos
                        disponibles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solarbeam_integrador.integrador_ofertas') }}">Mis ofertas</a>
                </li>
            </ul>
            {% endif %}
            {% else %}
            <!-- Si el usuario NO tiene rol -->
            {% if not current_user.user_pending %}
            <!-- El usuario no ha continuado con el registro -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solarbeam.confirmar_usuario') }}">Continuar registro</a>
                </li>
            </ul>
            {% endif %}
            <!-- verificacion de rol -->
            {% endif %}
            <!-- si esta autentificado -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
            {% else %}
            <!-- si no está autentificado -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Log In/Sign Up</a>
                </li>
            </ul>
            {% endif %}

        </div>
    </div>
</nav>